@charset "utf-8";
/* CSS Document */

body {
	background-color: #2d4671;
}

h1 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	text-align: center;
	color: #051838;
}

h2 {
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	text-align: center;
	color: #051838;
}

p.text {
	padding: 12px;
	font-family: Constantia, "Lucida Bright", "DejaVu Serif", Georgia, serif;
	text-align: justify;
}

#header {
	background-color: #4D658D;
	padding: 1px;
	width: 500px;
	margin-left: auto;
	margin-right: auto;
}

#salad {
	background-color: #4D658D;
	width: 500px;
	padding: 10px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
	}

#salad img {
	margin-left: 17px;
}

#hawaii {
	background-color: #4D658D;
	width: 540px;
	padding: 10px;
	margin: 20px;
	margin-left: auto;
	margin-right: auto;
}

#hawaii img {
	margin-right: 11px;
}
